<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>YummyCake定制属于您的专属蛋糕</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/center.css}">
    <style>
        ul.pwd li{
            margin: 20px 0;
        }
        ul.pwd li :first-child{
            display: inline-block;
            width: 100px;
            text-align: right;
        }
        input{
            width: 200px;
            height: 24px;
            text-align: center;
            border: 1px solid #eeeeee;
            background-color:#F9F6F1 ;
            border-radius: 2px;
        }
        li.last-btn a{
            display: inline-block;
            padding: 8px 60px;
            margin-right:10px;
            border-radius: 5px;
            background-color: #b0916a;
            color: #ffffff;
        }
        li.last-btn a:hover{
            background-color: #603723;
        }
    </style>
</head>
<body>

<header id="header"></header>
<section id="section">
    <div id="loc">
        <a th:href="@{/index}">首页</a>
        > <a th:href="@{/center}">个人中心</a>
        >密码维护
    </div>
    <div class="over">
        <div class="personal-lf lf">
            <ul>
                <li class="personal-title ">
                    个人中心
                </li>
                <li ><a href="/kknq/vip/details" >个人资料</a></li>
                <li><a href="/kknq/vip/orders" >我的订单</a></li>
                <li><a href="/kknq/vip/score" >我的积分</a></li>
                <li><a href="/kknq/vip/information" >会员信息</a></li>
                <li><a href="/kknq/vip/money" >我的资金</a></li>
                <li><a href="/kknq/vip/recharge" >在线充值</a></li>
                <li><a href="/kknq/vip/voucher" >代金券</a></li>
                <li><a href="/kknq/vip/location" >收货地址</a></li>
                <li><a href="/kknq/vip/date" >我的纪念日</a></li>
                <li><a href="/kknq/vip/findpsd" >密码维护</a></li>
                <li><a href="/kknq/vip/story" >我的故事</a></li>
                <li><a href="/kknq/vip/upload" >上传故事</a></li>
            </ul>
        </div>
        <div class="personal-rt lf">
            <p class="personal-title">密码维护</p>
            <div class="personal-info">
                <p><b>提示：</b></p><p>为保障您的密码安全，请尽量以字母（区分大小写）、数字组合的密码，一旦发生密码被盗情况，请您及时与我们联系。</p>
                <form action="#">
                    <ul class="pwd">
                        <li>
                            <label >用 户 名：</label>
                            <b th:text="${#httpSession.getAttribute('username')}"></b>
                        </li>
                        <li>
                            <label >原始密码：</label>
                            <input type="password" name="" value="" id="oldPwd">
                        </li>
                        <li>
                            <label >新 密 码：</label>
                            <input type="password" name="" value="" id="newPwd">
                        </li>
                        <li>
                            <label >确认密码：</label>
                            <input type="password" name="" value="" id="surePwd">
                        </li>
                        <li class="last-btn">
                            <label ></label>
                            <a type="submit" href="#" class="pwd1">提交</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</section>

<footer id="footer">
</footer>
<!--<script type="text/javascript" th:src="@{http://localhost:8080//kknq/static/js/jquery.js}"></script>-->

<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>

<script>
    $(function(){

        //点击提交修改密码
        $('.pwd1').click(function (e) {
            e.preventDefault();
            var usersDetails ={
                "oldPassword" : document.getElementById("oldPwd").value,
                "newPassword":document.getElementById("newPwd").value,
                "surePassword":document.getElementById("surePwd").value,
            }
            if (usersDetails.newPassword != usersDetails.surePassword){
                alert("新密码与确认密码不一致！")
                return;
            }
            $.ajax({
                       type: "POST",
                       url: "/kknq/modify/pwd",
                       async : true,
                       contentType : "application/json",
                       data : JSON.stringify(usersDetails),
                       dataType: 'json',
                       success: function (response) {
                           var json = JSON.stringify(response);
                           var result = eval("("+json+")");
                           if(result.code == 100){
                               alert("密码修改成功！")
                           }else {
                               alert("原始密码错误！")
                           }
                       }
                   });
        });

        //点击返回上一页
        $('.ffaaaaa').click(function (e) {
            e.preventDefault();
            window.location.href="/kknq/details?"+str;
        });
    });

</script>
</body>
</html>