<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>LOGIN</title>

    <script>
        function myFunction() {
            alert("你好，我是一个警告框！");
        }

        function check() {
            var text1 = document.getElementById("tel");
            if (text1.value == "") {
                alert("不能为空哦！");
            }
        }
    </script>


</head>
<body>
<!--/*@thymesVar id="user" type="com.jxau.kknq.Entity.Users"*/-->
<form class="form-signin" role="form" th:action="@{/login}" th:method="post">
    <input th:type="text" class="form-control" placeholder="电话号码/用户名" required="required" name="tel" onblur="check()"/>
    <input th:type="text" class="form-control" placeholder="密码" required="required" name="password" onblur="check()"/>
    性别: 男<input type="radio" checked="checked" name="sex" value="M"/>
    女<input type="radio" name="sex" value="F" onblur="check()"/><br/>
    <button class="btn btn-lg btn-warning btn-block" type="submit" onblur="check()">登录</button>
    <label class="checkbox">
        <input type="checkbox" value="remember-me"/> 记住我
    </label>


</form>
</body>
</html>