<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>YummyCake定制属于您的专属蛋糕</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/pay.css">
</head>
<body>

<header id="header"></header>
<section id="section">
    <input type="hidden" id="initPrice"/>
    <div id="loc">
        <a href="index.html">首页</a>
        >
        <a href="products.html">蛋糕目录</a>
        ><a href="deteil.html">蛋糕详情页</a>
        >立即购买
    </div>
    <div class="pay-title">

    </div>
    <!--/*@thymesVar id="orderDetails" type="com.jxau.kknq.bean.OrderDetails"*/-->
    <form action="">
        <div  class="pay-body">
            <p class="f18 b p">订单详情</p>
            <table cellspacing="0" cellpadding="0" border="0">
                <thead>
                    <tr>
                        <td colspan="2"width="26">商品详情</td>
                        <td width="17%">属性</td>
                        <td width="12%">单价（RMB）</td>
                        <td width="15%">数量</td>
                        <td width="10%">生日牌</td>
                        <td width="12%">小计</td>
                        <td width="8%">删除</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#"><img class="rt-img" style="width: 100px;height: 100px;"></a></td>
                        <td><a href="#" class="rt-title" id = "ptitle" name="productTitle">STARRY SKY星空</a></td>
                        <td>2.0磅 / 10份 标配餐具</td>
                        <td><span class="pri">308</span></td>
                        <td><div class="rt-sum"><a href="#" class="cut" onclick="javascript:cutNum()">-</a><input type="text" value="1" class="num1" id="countNumber" disabled><a href="#" onclick="javascript:addNum()" class="add">+</a></div></td>
                        <td><p class="birthTip">无</p><br>
                            <a href="#" class="active birth">选择生日牌</a></td>
                        <td><div class="" id="totalPrice"></div> </td>
                        <td><a href="#">删除</a></td>
                    </tr>
                    <tr id="isCandle" >
                        <td><a href="#"><img th:src="@{images/lazhu.jpg}" style="width: 100px;height: 100px;"></a></td>
                        <td><a href="#">蓝色长条蜡烛</a></td>
                        <td>包</td>
                        <td><span class="" id="lazhuPrice"></span></td>
                        <td><div class="rt-sum"><a href="#" class="cut" onclick="javascript:cutlazhuNum()">-</a><input type="text" value="1" id="countlazhuNumber" disabled><a href="#" onclick="javascript:addlazhuNum()" class="add">+</a></div></td>
                        <td></td>
                        <td><span class="laprice" id ="lazhuTotalPrice"></span></td>
                        <td><a href="#">删除</a></td>
                    </tr>
                    <tr id="isAddCook">
                        <td><a href="#"><img th:src="@{images/canju.jpg}" style="width: 100px;height: 100px;"></a></td>
                        <td><a href="#">10人份餐具</a></td>
                        <td>份</td>
                        <td><span class="" id="canjuPrice"></span></td>
                        <td><div class="rt-sum"><a href="#" class="cut" onclick="javascript:cutCanjuNum()">-</a><input type="text" value="1" id="countcanjuNumber" disabled><a href="#" onclick="javascript:addCanjuNum()" class="add">+</a></div></td>
                        <td></td>
                        <td><span class="canprice" id ="canjuTotalPrice"></span> </td>
                        <td><a href="#">删除</a></td>
                    </tr>
                </tbody>
            </table>

            <div class="pay-other">
                <ul>
                    <li><input id="candle" type="checkbox" value="cd" name="candle"> 需要蜡烛</li>
                    <li><input id="addCook" type="checkbox" value="ac" name="addCook">  增加餐具套餐</li>
                    <li><input id="usermsg" type="checkbox" value="um" name="usermsg">留言说明<br>
                    <textarea name="umsg" id="umsg" cols="50" rows="5"></textarea></li>
                </ul>
            </div>
            <p class="f18 b p">送货信息</p>
            <div class="deliver">
                <ul>
                    <li class="sub">联系方式：<input type="text" name="" id="contact" placeholder="请输入正确的联系方式" maxlength="11"></li>
                    <li>配送地址：<a href="#" class="active pay-location ml10" id="address">添加配送地址</a></li>
                    <li>配送方式：<a href="#" class="active pay-deliverWay ml10" id="deliverWay">选择配送方式</a></li>
                    <li class="sub">配送时间：<input type="text"  id="J-xl" placeholder="默认只能接受下单后第二天配送" name="" value="">
                        <select name="" id="deliverStartTime">
                            <option value="">10:00</option>
                            <option value="">11:00</option>
                            <option value="">12:00</option>
                            <option value="">13:00</option>
                            <option value="">14:00</option>
                            <option value="">15:00</option>
                            <option value="">16:00</option>
                            <option value="">17:00</option>
                            <option value="">18:00</option>
                            <option value="">19:00</option>
                        </select>
                        <select name="" id="deliverEndTime">
                            <option value="">11:00</option>
                            <option value="">12:00</option>
                            <option value="">13:00</option>
                            <option value="">14:00</option>
                            <option value="">15:00</option>
                            <option value="">16:00</option>
                            <option value="">17:00</option>
                            <option value="">18:00</option>
                            <option value="">19:00</option>
                            <option value="">20:00</option>
                        </select>
                    </li>
                    <li><input id="kai" type="checkbox" value="kf" name="">开发票<br></li>
                </ul>
            </div>
            <p class="f18 b p">付款方式</p>
            <div class="pay_way bg">
                <input type="radio" name="pay" value="" checked>支付宝
                <input type="radio" name="pay" value="" class="idcard">银联
                <input type="radio" name="pay" value="">货到付款（现金）
                <input type="radio" name="pay" value="">会员资金账户<br>
                <p class="sub hide" id="idshow"><label for="idcard">银行卡号：</label><input type="text" id="idcard" placeholder="请输入正确的银行帐号"></p>
                <input id="dai" type="checkbox" value="kf" name="">使用代金券
            </div>

            <div class="total">
                <p class="f20 b">商品总计： <span id="allPrice" class="">0.00</span>RMB</p>
            </div>
            <p class="rt-buy over p"><a class="ffaaaaa" id="back" href="#" >返回详情页</a> <a href="#" class="rt" id="submit">提交订单</a></p>
        </div>
        <!--模态框-->
        <div id="window-city">
            <div id="city-box">
                <div class="bg">
                </div>
            </div>
        </div>

    </form>
</section>
<footer id="footer">
</footer>
<script src="js/laydate.dev.js"></script>
<script src="js/jquery.js"></script>
<script src="js/jquery.fly.min.js"></script>
<script src="js/pay.js"></script>
<script src="js/common.js"></script>
<script>

    function addNum() {
        var price = parseInt(document.getElementById("initPrice").innerText);
        var count = document.getElementById("countNumber").value;
        var countInt = parseInt(count) +1;
        var totalPrice = document.getElementById("totalPrice");
        totalPrice.innerHTML = "¥ " + price*countInt;
        var allPrice = document.getElementById("allPrice");
        allPrice.innerHTML = totalPrice.innerText;
    }

    function cutNum() {
        var price = document.getElementById("initPrice").innerText;
        var count = document.getElementById("countNumber").value;
        if(parseInt(count) == 0){

        }else {
            var countInt = parseInt(count) - 1;
            var totalPrice = document.getElementById("totalPrice");
            if (countInt == 0) {
                totalPrice.innerText = "¥ " + 0;
            } else {
                totalPrice.innerText = "¥ " + price * countInt;
            }
        }
    }

//餐具增减动态显示价格
    function addCanjuNum() {
        var price = parseInt(document.getElementById("canjuPrice").innerText);
        var count = document.getElementById("countcanjuNumber").value;
        var countInt = parseInt(count) +1;
        var totalPrice = document.getElementById("canjuTotalPrice");
        totalPrice.innerHTML = "¥ " + price*countInt;
    }

    function cutCanjuNum() {
        var price = document.getElementById("canjuPrice").innerText;
        var count = document.getElementById("countcanjuNumber").value;
        if(parseInt(count) == 0){

        }else {
            var countInt = parseInt(count) - 1;
            var totalPrice = document.getElementById("canjuTotalPrice");
            if (countInt == 0) {
                totalPrice.innerText = "¥ " + 0;
            } else {
                totalPrice.innerText = "¥ " + price * countInt;
            }
        }
    }

    //蜡烛增减动态显示价格
    function addlazhuNum() {
        var price = document.getElementById("lazhuPrice").innerText;
        var count = document.getElementById("countlazhuNumber").value;
        var countInt = parseInt(count) +1;
        var totalPrice = document.getElementById("lazhuTotalPrice");
        console.log(countInt);
        totalPrice.innerHTML = "¥ " + price*countInt;
    }

    function cutlazhuNum() {
        var price = document.getElementById("lazhuPrice").innerText;
        var count = document.getElementById("countlazhuNumber").value;
        if(parseInt(count) == 0){

        }else {
            var countInt = parseInt(count) - 1;
            var totalPrice = document.getElementById("lazhuTotalPrice");
            if (countInt == 0) {
                totalPrice.innerText = "¥ " + 0;
            } else {
                totalPrice.innerText = "¥ " + price * countInt;
            }
        }
    }



    $(function(){
        init();
//        初始化页面
        var str = location.href; //取得整个地址栏
        var num = str.indexOf("?");
        str = str.substr(num+1);
        var lazhu = 2;
        var canju = 5;
        $.ajax({
               type:"GET",
               url:"/kknq/buynow/getCakes",
               data:str,
               dataType: 'json',
               success:function (response) {
                   var json = JSON.stringify(response);
                   var product = eval("("+json+")");
                   if(product.type == 6 || product.type == 7){
                       $('.rt-size').html('<a href="#" class="active">1.0磅</a>');
                   }
                   $('.rt-img').attr('src',product.productImgUrl);
                   $('.rt-title').text(product.productTitle);
                   $('.rt-title').html(product.productTitle);
                   $('.pri').text("¥ "+product.price);
                   $('#totalPrice').text("¥ "+product.price);
                   $('#initPrice').text(product.price);
                   $('#lazhuPrice').text(lazhu);
                   $('.laprice').text("¥ 2");
                   $('#canjuPrice').text(canju);
                   $('#canjuTotalPrice').text("¥ 5");
                   $('#allPrice').text("¥ "+product.price);
               }
        });



        //点击提交订单
        $('.rt').click(function (e) {
            e.preventDefault();
            if ($("#candle").is(":checked")){
            }
            var orderDetails ={
                "productTitle" : document.getElementById("ptitle").textContent,
                "productNumber":document.getElementById("countNumber").value,
                "price":document.getElementById("initPrice").textContent,
                "contact":document.getElementById("contact").value,
                "address":document.getElementById("address").textContent,
                "deliverWay":document.getElementById("address").textContent,
                "deliverDate":document.getElementById("J-xl").value,
                "deliverStartTime":$("#deliverStartTime option:selected").text(),
                "deliverEndTime":$("#deliverEndTime option:selected").text(),
                "candleNumber" : document.getElementById("countlazhuNumber").value,
            }
            $.ajax({
               type: "POST",
               url: "/kknq/send/order",
               async : true,
               contentType : "application/json",
               data : JSON.stringify(orderDetails),
               dataType: 'json',
               success: function (response) {
                   window.location.href="/kknq/orders";
               }
            });
        });

        //点击返回上一页
        $('.ffaaaaa').click(function (e) {
            e.preventDefault();
            window.location.href="/kknq/details?"+str;
        });
    });

</script>



</body>
</html>