<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>YummyCake定制属于您的专属蛋糕</title>
    <link type="text/css" th:href="@{/css/common.css}" />
    <link type="text/css" th:href="@{/css/products.css}" rel="stylesheet" />
</head>
<body>
<a name="top1"></a>
<!--头部nav和logo-->
    <header id="header">
        <!--logo顶部内容-->
    </header>
<!--section-->
    <section id="section">
        <!--中间nav-->
        <div id="loc">
            <a th:href="@{/index}">首页</a>

            >蛋糕目录
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <input id="keyword" type="text" name="keyWord" autofocus placeholder="关键字" >
            <a id="search"  class="active" data-sort="0">搜索</a></dd>
        </div>
        <div id="nav">
            <dl>
                <dt>蛋糕类别：</dt>
                <dd><a th:href="@{/0/cakes}"  class="active" data-sort="0">全部</a></dd>
                <dd><a data-sort="01" >新锐系列</a></dd>
                <dd><a data-sort="02" th:href="@{/2/cakes}" >卡通系列</a></dd>
                <dd><a data-sort="03" th:href="@{/3/cakes}">彩虹系列</a></dd>
                <dd><a data-sort="04" th:href="@{/4/cakes}">春暖花开系列</a></dd>
            </dl>
            <dl>
                <dt>下午茶类别：</dt>
                <dd ><a th:href="@{/01/cakes}" class="active" data-sort="0">全部</a></dd>
                <dd><a th:href="@{/5/cakes}" data-sort="05">杯子蛋糕</a></dd>
                <dd><a th:href="@{/6/cakes}" data-sort="06">泡芙系列</a></dd>
            </dl>
        </div>
        <div id="sort">

        </div>
    </section>
<!--底部其它信息-->
    <footer id="footer">
    </footer>

<!--<script th:href="@{/js/jquery.js}" ></script>-->
<!--<script th:href="@{/js/jquery.fly.min.js}" ></script>-->
<!--<script th:href="@{/js/requestAnimationFrame.js}" ></script>-->
<!--<script th:href="@{/js/common.js}" ></script>-->
<!--<script th:href="@{/js/products.js}" ></script>-->
<!--<script src="js/login-regist.js"></script>-->

<script src="js/jquery.js"></script>
<script src="js/jquery.fly.min.js"></script>
<script src="js/requestAnimationFrame.js"></script>
<!--<script src="js/common.js"></script>-->
<script src="js/products.js"></script>
</body>
</html>