<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>YummyCake定制属于您的专属蛋糕</title>
    <link type="text/css" th:href="@{/css/common.css}" />
    <link type="text/css" th:href="@{/css/products.css}" rel="stylesheet" />
</head>
<body>
<a name="top1"></a>
<!--头部nav和logo-->
    <header id="header">
        <!--logo顶部内容-->
    </header>
<!--section-->
    <section id="section">
        <!--中间nav-->
        <div id="loc">
            <a th:href="@{/index}">首页</a>

            >蛋糕目录
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <input id="keyword" type="text" name="keyWord" autofocus placeholder="关键字" >
            <a id="search"  class="active" data-sort="0" href="#">搜索</a></dd>
        </div>
        <div id="nav">
            <dl>
                <dt>蛋糕类别：</dt>
                <dd><a class="active" data-sort="09" href="#">全部</a></dd>
                <dd><a data-sort="01" href="#">新锐系列</a></dd>
                <dd><a data-sort="02" href="#">卡通系列</a></dd>
                <dd><a data-sort="03" href="#">彩虹系列</a></dd>
                <dd><a data-sort="04" href="#">春暖花开系列</a></dd>
            </dl>
            <dl>
                <dt>下午茶类别：</dt>
                <dd><a href="#" class="active" data-sort="8">全部</a></dd>
                <dd><a href="#" data-sort="05">杯子蛋糕</a></dd>
                <dd><a href="#" data-sort="06">泡芙系列</a></dd>
            </dl>
        </div>
        <div id="sort">

        </div>
    </section>
<!--底部其它信息-->
    <footer id="footer">

    </footer>
<span>

</span>
<!--<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">-->
    <!--<tr>-->
        <!--<td height="33">-->
            <!--<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="right-font08">-->
                <!--<tr>-->
                    <!--<td width="48%" align="center">[<a th:href="@{/cake(sort='9',pageNum='2',pageSize='20')}" class="right-font08">首页</a> | <a href="${pageContext.request.contextPath }/goods/getGoodsList?currentPage=${page.currentPage-1}" onclick="return checkFirst()" class="right-font08">上一页</a> | <a href="${pageContext.request.contextPath }/goods/getGoodsList?currentPage=${page.currentPage+1}" onclick="return checkNext()" class="right-font08">下一页</a> | <a href="${pageContext.request.contextPath }/goods/getGoodsList?currentPage=${page.totalPage}" class="right-font08">末页</a>] 转至：<input id="inputPage" name="textfield3" type="text" class="right-textfield03" size="3" /><input id="go" name="Submit23222" type="button" class="button08" value="GO" onclick="pageGo();" /></td>-->
                    <!--<td width="5%" align="center">-->
                        <!--&lt;!&ndash;<table width="20" border="0" cellspacing="0" cellpadding="0" >&ndash;&gt;-->
                            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                                <!--&lt;!&ndash;<td width="1%"><input id="inputPage" name="textfield3" type="text" class="right-textfield03" size="3" /></td>&ndash;&gt;-->
                                <!--&lt;!&ndash;<td width="87%" ><input id="go" name="Submit23222" type="button" class="button08" value="GO" onclick="pageGo();" /></td>&ndash;&gt;-->
                            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                        <!--&lt;!&ndash;</table>&ndash;&gt;-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</td>-->
    <!--</tr>-->
<!--</table>-->

<!--<script th:href="@{/js/jquery.js}" ></script>-->
<!--<script th:href="@{/js/jquery.fly.min.js}" ></script>-->
<!--<script th:href="@{/js/requestAnimationFrame.js}" ></script>-->
<!--<script th:href="@{/js/common.js}" ></script>-->
<!--<script th:href="@{/js/products.js}" ></script>-->
<!--<script src="js/login-regist.js"></script>-->

<script src="js/jquery.js"></script>
<script src="js/jquery.fly.min.js"></script>
<script src="js/requestAnimationFrame.js"></script>
<!--<script src="js/common.js"></script>-->
<script src="js/products.js"></script>
</body>
</html>