<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>无标题文档</title>
</head>

<body>
<div>
  <p> <img th:src="@{image/pay1.jpg}" width="798" height="104" hspace="90" vspace="0" align="absmiddle"/></p>
</div>
<div class="text" style="text-align:left">
  <p><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应付（yuan）：</h2></p>
  <p>&nbsp;</p>
</div>
  <p> <img src="image/pay2.jpg" width="602" height="347" hspace="90" vspace="0" align="absmiddle" /></p>
  <p> <img src="image/pay3.jpg" width="798" height="48" hspace="90" vspace="0" align="absmiddle"/></p>
</body>
</html>
