<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>无标题文档</title>
</head>

<body>
<div>
  <p> <img src="image/QQ图片20180413005113.jpg" width="798" height="104" hspace="90" vspace="0" align="absmiddle"/></p>
</div>
<div class="text" style="text-align:left">
  <p><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应付（yuan）：</h2></p>
  <p>&nbsp;</p>
</div>
  <p> <img src="image/QQ图片20180413005054.jpg" width="602" height="347" hspace="90" vspace="0" align="absmiddle" /></p>
  <p> <img src="image/QQ图片20180413005125.jpg" width="798" height="48" hspace="90" vspace="0" align="absmiddle"/></p>
</body>
</html>
