<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>LOGIN</title>

    <script>
        function myFunction() {
            alert("你好，我是一个警告框！");
        }a3

        function check() {
            var text1 = document.getElementById("telPhone");
            if (text1.value == "") {
                alert("不能为空哦！");
            }
        }
    </script>


</head>
<body>
<!--/*@thymesVar id="user" type="com.jxau.kknq.entity.Users"*/-->
<form class="form-signin" role="form" th:action="@{/register}" th:method="post">
    <p>姓名：<input th:type="text" class="form-control" placeholder="邮箱注册" required="required" name="name" onblur="check()"/></p>
    <p>邮箱：<input th:type="text" class="form-control" placeholder="邮箱注册" required="required" name="email" onblur="check()"/></p>
    <p>验证码：<input name="code" type="text" class="form-control" placeholder="请输入验证码" />获取验证码</p>
    <div class="input-group-addon get-code-btn">获取验证码</div>
    <p class="text-left" style="margin-top:30px;">
        <button type="submit" class="btn btn-lg btn-danger"><i class="fa fa-unlock"></i> 提交登陆</button>
    </p>

    <label class="checkbox">
        <input type="checkbox" value="remember-me"/> 记住我
    </label>

</form>
</body>
</html>